{% extends "base.html" %} 

{% load static %} 
{% load widget_tweaks %}

{% block title %} Omorupdate|User Signup{% endblock title %}
 {% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'omorapp:home' %}">Home</a></li>
      <li class="breadcrumb-item active">Signup</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="contact-form">
          <form method="POST" action="{% url 'omorapp:signup' %}" role="form">
              {% csrf_token %}
                {% if messages %}
                  {% for msg in messages  %}
                  <div class="alert alert-danger">{{ msg }}</div>
                  {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-6">  
                        {% render_field form.username class+="form-control" placeholder="Username" %}
                    </div>
                    <div class="form-group col-md-6"> 
                        {% render_field form.email class+="form-control" placeholder="Email" %}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                        {% render_field form.first_name class+="form-control" placeholder="First Name" %}
                    </div>
                    <div class="form-group col-md-6">
                        {% render_field form.last_name class+="form-control" placeholder="Last Name" %}
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        {% render_field form.password class+="form-control" placeholder="Password" %}
                    </div>
                    <div class="form-group col-md-6">
                        {% render_field form.password2 class+="form-control" placeholder="Confirm Password" %}
                    </div>
                  </div>
            <div><button class="btn btn-block btn-primary" type="submit">Login</button></div>
            <p class="mt-4 text-center">Already have an account? <a href="{% url 'omorapp:login' %}">Login Now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

{% endblock content %}
