{% extends "base.html" %}
{% load static %}


{% block title %} Password Reset Link Sent {% endblock title %}

{% block content %}
      <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Reset-Password-link sent</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="contact-form">
          <h1>Check your email box</h1>
          <p>We have emailed you the instructions for setting your password. If the email is a registered one, you should receive the email
            shortly. If taking longer than expected, check your 
            <a href="https://www.businessinsider.com/where-is-my-spam-folder-in-gmail?r=US&IR=T"> spam folder</a> or request for the link agian
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock content %}