{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Recover Password{% endblock title %}

{% block content %}
  <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
        <div class="container">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Reset-Password</li>
          </ul>
        </div>
      </div>
      <!-- Breadcrumb End -->
      
      <!-- Contact Start -->
      <div class="contact">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="contact-form">
                <form method="POST" action="." role="form">
                    {% csrf_token %}
                      {% if messages %}
                        {% for msg in messages  %}
                        <div class="alert alert-danger">{{ msg }}</div>
                        {% endfor %}
                      {% endif %}
                      {% if form.email.errors %}
                      <div class="alert alert-danger">{{ form.email.errors }}</div>
                      {% endif %}
                  <div class="form-group"> 
                      {{ form.email.label_tag}}  
                      {% render_field form.email class+="form-control" placeholder="Enter the registered email address" %}
                  </div>
                  <div><button class="btn btn-block btn-primary" type="submit">Submit</button></div>
                  <p class="mt-4 text-center">Remember the credentials? <a href="{% url 'omorapp:login' %}">Back to Login</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->
      
{% endblock content %}