{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Password Reset Confirm{% endblock title %}

{% block content %}
    <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Reset/password</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="contact-form">
          <form method="POST" action="." role="form">
            {% if validlink %}
            {% csrf_token %}

            <div>CAUTION:  <i style="color: red;" class="fas fa-exclamation-triangle"></i></div>
            {% for field in form  %}
              {{ field.help_text }}
            {% endfor %}

            {% if form.new_password1.errors %}
            <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
            {% endif %}
            <div class="form-group">
              {{ form.new_password1.label_tag }}
              {% render_field form.new_password1 class+="form-control" %}
            </div>

            {% if form.new_password2.errors %}
            <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
            {% endif %}
            <div class="form-group">
              {{ form.new_password2.label_tag }}
              {% render_field form.new_password2 class+="form-control" %}
            </div>
            <div><button class="btn btn-block btn-primary" type="submit">Change my password</button></div>
              
            {% else %}
            <p>The Password reset link is invalid, possible because it has been used. Please request for 
              a new password reset link <a href="/account/password_reset/">Request new password reset link here</a></p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock content %}