<!-- Footer Start -->
<div class="footer" style="background-color: #151719">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Get in Touch</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Omor, Aniukwu Kingdom, Ayamelum LGA, Anambra Nigeria</p>
                            <p><i class="fa fa-envelope"></i>omorupdateinfo@gmail.com</p>
                            <p><i class="fa fa-phone"></i>+2349071790126</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Useful Links</h3>
                        <ul>
                            <li><a href="{% url 'omorapp:about' %}">About</a></li>
                            <li><a href="https://dashboard.flutterwave.com/donate/3dnpvaqf0vgd" target="_blank">Support</a></li>
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Agriculture</a></li>
                            <li><a href="#">Traditions</a></li>
                            <li><a href="{% url 'omorapp:members' %}">Team Omor Update</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="{% url 'omorapp:blog' %}">Popular New</a></li>
                            <li><a href="https://dashboard.flutterwave.com/donate/3dnpvaqf0vgd" target="_blank">Support this Site</a></li>
                            <li><a href="{% url 'omorapp:blog' %}">Most Read News</a></li>
                            <li><a href="{% url 'omorapp:blog' %}">Latest News</a></li>
                            <li><a href="{% url 'omorapp:blog' %}">Most Visited</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Newsletter</h3>
                        <div class="newsletter">
                            <p>
                                Subscribe to this website and get latest updates by email address and other related posts
                            </p>
                            <form>
                                <input class="form-control" type="email" placeholder="Your email here">
                                <button class="btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 copyright">
        <p>
          Copyright &copy; <script>
          var date = new Date();
          document.write(date.getFullYear());
          </script> <a href="{% url 'omorapp:home' %}">omorupdate.com</a>. All
          Rights Reserved <br />--<a href="http://daniel-webtuto.herokuapp.com" target="_blank">UDOKIKE DANIEL</a>
        </p>
      </div>

      <div class="col-md-6 template-by">
        <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
      </div>
    </div>
  </div>
</div>
