{% extends "base.html" %} {% load static %} {% load widget_tweaks %} 
{% block title %} Omorupdate| Blog{% endblock title %}
 {% block content %}
<!-- Single News Start-->
<div class="single-news">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% if messages %}
        {% for msg in messages  %}
        <div class="alert alert-success text-center">{{ msg }} &check;</div>
        {% endfor %}
      {% endif %}
        <div class="sn-container">
          <div class="sn-img">
            <img src="{{blog_details.image.url}}" width="500" height="500" />
          </div>
          <div class="sn-content">
            <h3 class="sn-title">{{ blog_details.head_line }}</h3>
            <span class="">
              <i style="color: #FF6F61" class="fas fa-user-circle "></i> : {{ blog_details.author }}<br />
              <i style="color: #FF6F61" class="fas fa-calendar-alt " aria-hidden="true"></i> : {{ blog_details.date }}<br />
              <i style="color: #FF6F61" class="fas fa-clock "></i> : {{ blog_details.time }}<br />
              <i style="color: #FF6F61" class="fas fa-comments "></i> : {{ blog_details.Comments.all|length }}<br />
              <i style="color: #FF6F61" class="fas fa-eye "></i> : {{ blog_details.views }}<br />
            </span>
            <p class="mt-4">{{ blog_details.write_up }}</p>
          </div>
        </div>
        <div class="sn-related">
          <h3>Comments</h3>
          {% if blog_details.Comments.all %}
          {% for post in blog_details.Comments.all  %}
          <p><i style="color: #FF6F61"  class="fas fa-user-circle fa-2x"></i> {{post.user}} at {{post.date_added}} <br />{{post.write_up}}<br /></p>
          <hr />
        {% endfor %}
        {% else %}
        <p>No comment yet</p>
          {% endif %}
            
            <form method="POST" action="." role="form">
              {% csrf_token %}
              
                <div class="form-group">
                  {% if form.write_up.errors  %}
                  <p style="color: red;">{{ form.write_up.errors }}</div>
                  {% endif %}
                  <label for="write_up">Post comment</label>
                  {% render_field form.write_up class+="form-control" rows="3" %}
                </div>
              <div><button class="btn btn-block" type="submit">Submit Comment</button></div>
            </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <div class="sidebar-widget">
            <div class="tab-news">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                      <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#m-viewed"
                        >Most Viewed</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#m-recent"
                        >Most Recent</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="m-viewed" class="container tab-pane active">
                        {% for field in most_read %}
                        <div class="tn-news">
                          <div class="tn-img">
                            <img src="{{ field.image.url }}" width="100" height="100" />
                          </div>
                          <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                            <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
                          </p>
                        </div>
                        {% endfor %}
                      </div>
                      <div id="m-read" class="container tab-pane fade">
                        {% for field in most_recent %}
                        <div class="tn-news">
                          <div class="tn-img">
                            <img src="{{ field.image.url }}" width="100" height="100" />
                          </div>
                          <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                            <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
                          </p>
                        </div>
                        {% endfor %}
                      </div>
                      <div id="m-recent" class="container tab-pane fade">
                        {% for field in most_viewed %}
                        <div class="tn-news">
                          <div class="tn-img">
                            <img src="{{ field.image.url }}" width="100" height="100" />
                          </div>
                          <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                            <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
                          </p>
                        </div>
                        {% endfor %}
                      </div>
                  </div>
            </div>
          </div>

          <div class="sidebar-widget">
            <div class="tab-news">
              <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                  <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#featured">Featured</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#popular"
                    >Popular</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#latest"
                    >Latest</a
                  >
                </li>
              </ul>

              <div class="tab-content">
                <div id="featured" class="container tab-pane active">
                  {% for field in featured %}
                  <div class="tn-news">
                    <div class="tn-img">
                      <img
                        src="{{ field.image.url }}"
                        width="100"
                        height="100"
                      />
                    </div>
                    <p style="padding: 10px">
                      {{ field.write_up|truncatechars:"100" }}
                      <a href="{% url 'omorapp:blog_details' field.id %}" style="color: red"><button style="color:red;">Read more</button></a>
                    </p>
                  </div>
                  {% endfor %}
                </div>
                <div id="popular" class="container tab-pane fade">
                  {% for field in popular %}
                  <div class="tn-news">
                    <div class="tn-img">
                      <img
                        src="{{ field.image.url }}"
                        width="100"
                        height="100"
                      />
                    </div>
                    <p style="padding: 10px">
                      {{ field.write_up|truncatechars:"100" }}
                      <a href="{% url 'omorapp:blog_details' field.id %}" style="color: red"><button style="color:red;">Read more</button></a>
                    </p>
                  </div>
                  {% endfor %}
                </div>
                <div id="latest" class="container tab-pane fade">
                  {% for field in most_viewed %}
                  <div class="tn-news">
                    <div class="tn-img">
                      <img
                        src="{{ field.image.url }}"
                        width="100"
                        height="100"
                      />
                    </div>
                    <p style="padding: 10px">
                      {{ field.write_up|truncatechars:"100" }}
                      <a href="{% url 'omorapp:blog_details' field.id %}" style="color: red"><button style="color:red;">Read more</button></a>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-widget">
            <h2 class="sw-title">News Category</h2>
            <div class="category">
                <ul>
                  <li><a href="https://www.ezeanaukwu.com/event.php" target="_blank">Igwe Aniukwu Ofala</a></li>
                  <li><a href="https://dashboard.flutterwave.com/donate/3dnpvaqf0vgd" target="_blank">Support</a></li>
                    <li><a href="#">Heritage and Culture</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Agriculture</a></li>
                    <li>
                      <a href="#">Norms and Tradition</a>
                    </li>
                    <li><a href="#">Pride of Omor</a></li>
                    <li><a href="https://www.ezeanaukwu.com/" target="_blank">Palace of Igwe Aniukwu Kingdom</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="{% url 'omorapp:members' %}">Omor Team of Developers</a></li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single News End-->

{% endblock content %}
