{% extends "base.html" %} 

{% load static %} 
{% load widget_tweaks %}
{% load cloudinary %}

{% block title %} Omorupdate| Blogs{% endblock title %}
 {% block content %}
 <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'omorapp:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#" >News</a>/Blog</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->
<!-- Tab News Start-->
<div style="margin-top: 10px;" class="tab-news" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item" id="news-status">
              <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#featured"
                >Featured News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#popular"
                >Popular News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#latest"
                >Latest News</a
              >
            </li>
          </ul>
  
          <div class="tab-content">
            <div id="featured" class="container tab-pane active">
              {% for field in featured %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}"><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
            <div id="popular" class="container tab-pane fade">
              {% for field in popular %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}"><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
            <div id="latest" class="container tab-pane fade">
              {% for field in latest %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}"><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#m-viewed"
                >Most Viewed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#m-recent"
                >Most Recent</a
              >
            </li>
          </ul>
  
          <div class="tab-content">
            <div id="m-viewed" class="container tab-pane active">
              {% for field in most_read %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}"><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
            <div id="m-read" class="container tab-pane fade">
              {% for field in most_viewed %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}" ><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
            <div id="m-recent" class="container tab-pane fade">
              {% for field in most_recent %}
              <div>
                <div class="tn-img">
                  <img src="{{ field.image.url }}" width="100" height="100" />
                </div>
                <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                  <a href="{% url 'omorapp:blog_details' field.id field.head_line %}"><button style="color:red;">Read more</button></a>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
