{% extends "base.html" %}
{% load static %}

{% block title %} Omorupdate|Contact Us{% endblock title %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
        <div class="container">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
          </ul>
        </div>
      </div>
      <!-- Breadcrumb End -->
      
      <!-- Contact Start -->
      <div class="contact">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="contact-form">
                <form method="POST" action="{% url 'omorapp:contact' %}" role="form">
                  {% csrf_token %}

                  {% if messages %}
                    {% for msg in messages  %}
                    <div class="alert alert-danger">{{ msg }}</div>
                    {% endfor %}
                  {% endif %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.name.errors }}
                      {{ form.name }}
                    </div>
                    <div class="form-group col-md-6">
                      {{ form.email.errors }}
                      {{ form.email }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.subject.errors }}
                    {{ form.subject }}
                  </div>
                  <div class="form-group">
                    {{ form.message }}
                  </div>
                  <div><button class="btn btn-block" type="submit">Send Message</button></div>
                </form>
              </div>
            </div>
            <div class="col-md-4">
              <div class="contact-info">
                <h3>Get in Touch</h3>
                <p>
                  Could it be something urgent you want to let us know? Do you have an
                  update? Always be the first to know
                </p>
                <h4>
                  <i class="fa fa-map-marker"></i>Omor, Ayamelum LGA, Anambra State
                </h4>
                <h4><i class="fa fa-envelope"></i>omorupdateinfo@gmail.com</h4>
                <h4><i class="fa fa-phone"></i>+2349071790126</h4>
                <div class="social">
                  <a href="https://facebook.com/groups/529004645190324/"><i class="fab fa-facebook-f"></i></a>
                  <a href="mailto:omorupdateinfo@gmail.com"><i class="fas fa-envelope"></i></a>
                  <a href="#"><i class="fab fa-whatsapp"></i></a>
                  <a href="{% url 'omorapp:blog' %}"><i class="fas fa-search"></i></a>
                  <a href="#"><i class="fas fa-users"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->
      
  
{% endblock content %}