{% extends "base.html" %} 

{% load static %}
{% load embed_video_tags %}

 {% block title %} Aniukwu Kingdom {% endblock title %}

{% block content %}
<!-- Top News Start-->
<div class="top-news">
  <div class="container">
      {% if request.user.is_authenticated %}
      <!-- DO NOTHING AND ALLOW USER TO POST AND COMMENT ON POSTS -->
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome to <a href="{% url 'omorapp:home' %}">omorupdates</a>!</strong> Authentication is required. You need to login to comment on any post. <a href="{% url 'omorapp:login' %}">Login...</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-success">{{ msg }}</div>
      {% endfor %}
    {% endif %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hey, Erudite!</strong> Be the first to know and get recent updates. You can support this work by given us recent updates and otherwise <a href="https://dashboard.flutterwave.com/donate/3dnpvaqf0vgd" target="_blank">Support...</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-6 tn-left">
        <div class="row tn-slider">
          {% for post in posts %}
          <div class="col-md-6">
            <div class="tn-img">
              <img src="{{post.image.url}}" width="500" height="500" />
              <div class="tn-title">
                <a href="{% url 'omorapp:blog_details' post.id %}">{{post.head_line}}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 tn-right">
        <div class="row">

          {% for post in posts %}
          <div class="col-md-6">
            <div class="tn-img">
                <img src="{{post.image.url}}" width="400" height="253" />
              <div class="tn-title">
                  <a href="{% url 'omorapp:blog_details' post.id %}">{{post.head_line}}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top News End-->

<!-- Tab News Start-->
<div class="tab-news" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item" id="news-status">
            <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#featured"
              >Featured News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#popular"
              >Popular News</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#latest"
              >Latest News</a
            >
          </li>
        </ul>

        <div class="tab-content">
          <div id="featured" class="container tab-pane active">
            {% for field in featured %}
            <div>
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
          <div id="popular" class="container tab-pane fade">
            {% for field in popular %}
            <div >
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
          <div id="latest" class="container tab-pane fade">
            {% for field in most_viewed %}
            <div >
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a style="background-color: red;" class="nav-link active" data-toggle="pill" href="#m-viewed"
              >Most Viewed</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#m-recent"
              >Most Recent</a
            >
          </li>
        </ul>

        <div class="tab-content">
          <div id="m-viewed" class="container tab-pane active">
            {% for field in most_read %}
            <div >
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
          <div id="m-read" class="container tab-pane fade">
            {% for field in most_recent %}
            <div>
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}" style="color:red;"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
          <div id="m-recent" class="container tab-pane fade">
            {% for field in most_viewed %}
            <div>
              <div class="tn-img">
                <img src="{{ field.image.url }}" width="100" height="100" />
              </div>
              <p style="padding: 10px;">{{ field.write_up|truncatechars:"100" }} 
                <a href="{% url 'omorapp:blog_details' field.id %}"><button style="color:red;">Read more</button></a>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tab News Start-->

<!-- Main News Start-->
<div class="main-news">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          {% for video in omor_tube_videos %}
          <div class="col-md-6">
            <div class="mn-img">
                <div style="margin-top:10px;" class="embed-responsive embed-responsive-16by9">
                  <!-- The video tag: -->
                  {% video video.video_url as my_video %}
                  {% video my_video "medium" %}
                  {% endvideo %}

                  <!-- Or embed shortcut: -->
                  {% video my_video "800x500" %}
                </div>
                {{ video.title }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-3">
        <div class="mn-list">
          <h2>Read More</h2>
          <ul>
            <li><a href="https://www.ezeanaukwu.com/event.php" target="_blank">Igwe Aniukwu Ofala</a></li>
            <li><a href="#">Culture and Torism</a></li>
            <li><a href="#">Heritage and Culture</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="https://ezeanaukwu.com/blog/" target="_blank">Agriculture</a></li>
            <li>
              <a href="#">Norms and Tradition</a>
            </li>
            <li><a href="#">Pride of Omor</a></li>
            <li><a href="https://www.ezeanaukwu.com/" target="_blank">Palace of Igwe Aniukwu Kingdom</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="{% url 'omorapp:members' %}">Omor Team of Developers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main News End-->

{% endblock content %}
